.elementor-11814 .elementor-element.elementor-element-f2ef7e3>.elementor-element-populated>.elementor-widget-wrap {
	padding: 0
}

.elementor-11814 .elementor-element.elementor-element-448681a>.elementor-element-populated>.elementor-widget-wrap {
	padding: 0
}

.elementor-11814 .elementor-element.elementor-element-105b226 {
	--spacer-size: 10px
}

.elementor-11814 .elementor-element.elementor-element-105b226>.elementor-widget-container {
	padding: 0
}

.elementor-11814 .elementor-element.elementor-element-c28be36>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}

.elementor-11814 .elementor-element.elementor-element-6f9d40f {
	text-align: left
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target {
	font-family: pt sans, Sans-serif;
	text-transform: uppercase;
	color: #333
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav li.ubermenu-current-menu-ancestor.ubermenu-item-level-0>a.ubermenu-target,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target:hover,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target:focus,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-item-level-0:hover>.ubermenu-target,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav .ubermenu-item-level-0.ubermenu-active>.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav li.ubermenu-current-menu-ancestor.ubermenu-item-level-0>a.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target:hover,
.ubermenu-mobile-modal ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target:focus,
.ubermenu-mobile-modal .ubermenu-item-level-0:hover>.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav .ubermenu-item-level-0.ubermenu-active>.ubermenu-target {
	color: #fff
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target:hover,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav li.ubermenu-current-menu-ancestor.ubermenu-item-level-0>a.ubermenu-target,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav .ubermenu-item-level-0:hover>.ubermenu-target,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav .ubermenu-item-level-0.ubermenu-active>.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav li.ubermenu-item-level-0>a.ubermenu-target:hover,
.ubermenu-mobile-modal ul.ubermenu-nav li.ubermenu-current-menu-ancestor.ubermenu-item-level-0>a.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav .ubermenu-item-level-0:hover>.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav .ubermenu-item-level-0.ubermenu-active>.ubermenu-target {
	background-color: #638c1c
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav .ubermenu-submenu li a.ubermenu-target,
.ubermenu-mobile-modal ul.ubermenu-nav .ubermenu-submenu li a.ubermenu-target {
	color: #333
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav .ubermenu-submenu li a.ubermenu-target span.ubermenu-target-description,
.ubermenu-mobile-modal ul.ubermenu-nav .ubermenu-submenu li a.ubermenu-target span.ubermenu-target-description {
	color: #333
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main ul .ubermenu-submenu li a.ubermenu-target:hover,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main ul .ubermenu-submenu li.ubermenu-current_page_item a.ubermenu-target,
.ubermenu-mobile-modal ul .ubermenu-submenu li a.ubermenu-target:hover,
.ubermenu-mobile-modal ul .ubermenu-submenu li.ubermenu-current_page_item a.ubermenu-target {
	color: #fff;
	background-color: #638c1c
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover>.ubermenu-target,
.ubermenu-mobile-modal .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover>.ubermenu-target {
	color: #fff;
	background-color: #638c1c
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-submenu .ubermenu-tab.ubermenu-active>.ubermenu-target,
.ubermenu-mobile-modal .ubermenu-submenu .ubermenu-tab.ubermenu-active>.ubermenu-target {
	color: #fff;
	background-color: #638c1c
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main .ubermenu-target:hover>.ubermenu-target-description,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-submenu .ubermenu-tab.ubermenu-active>.ubermenu-target>.ubermenu-target-description,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main .ubermenu-submenu .ubermenu-target:hover>.ubermenu-target-description,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main .ubermenu-submenu .ubermenu-active>.ubermenu-target>.ubermenu-target-description,
.ubermenu-mobile-modal .ubermenu-target:hover>.ubermenu-target-description,
.ubermenu-mobile-modal .ubermenu-submenu .ubermenu-tab.ubermenu-active>.ubermenu-target>.ubermenu-target-description,
.ubermenu-mobile-modal .ubermenu-submenu .ubermenu-target:hover>.ubermenu-target-description,
.ubermenu-mobile-modal .ubermenu-submenu .ubermenu-active>.ubermenu-target>.ubermenu-target-description {
	color: #fff
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-desktop-view.ubermenu-main.ubermenu-horizontal .ubermenu-item>.ubermenu-submenu-drop {
	border-style: solid;
	border-width: 10px 0 0;
	border-color: #638c1c
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears ul.ubermenu-nav .ubermenu-submenu li a.ubermenu-target i.fas {
	font-size: 15px
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .give-btn {
	font-family: pt sans, Sans-serif;
	line-height: 20px;
	fill: #638c1c;
	color: #638c1c;
	background-color: #02010100;
	border-style: solid;
	border-width: 3px;
	padding: 12px 24px
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .give-btn:hover,
.elementor-11814 .elementor-element.elementor-element-4498a24 .give-btn:focus {
	color: #fff;
	background-color: #638c1c;
	border-color: #638c1c
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .give-btn:hover svg,
.elementor-11814 .elementor-element.elementor-element-4498a24 .give-btn:focus svg {
	fill: #fff
}

.give-form[data-style=elementor-give-uber-menu] .give-total-wrap #give-amount,
.give-form[data-style=elementor-give-uber-menu] #give-donation-level-button-wrap .give-btn:not(.give-default-level):hover,
.give-form[data-style=elementor-give-uber-menu] #give-gateway-radio-list>li label:hover,
.give-form[data-style=elementor-give-uber-menu] #give-gateway-radio-list>li.give-gateway-option-selected label,
.give-form[data-style=elementor-give-uber-menu] #give_terms_agreement label:hover,
.give-form[data-style=elementor-give-uber-menu] #give_terms_agreement input[type=checkbox]:checked+label,
.give-form[data-style=elementor-give-uber-menu] .give_terms_links:hover,
.give-form[data-style=elementor-give-uber-menu] #give-final-total-wrap .give-final-total-amount {
	color: #638c1c
}

.give-form[data-style=elementor-give-uber-menu] .give-total-wrap .give-currency-symbol,
.give-form[data-style=elementor-give-uber-menu] #give-donation-level-button-wrap .give-btn.give-default-level,
.give-form[data-style=elementor-give-uber-menu] #give-gateway-radio-list>li.give-gateway-option-selected label:after,
.give-form[data-style=elementor-give-uber-menu] #give_terms_agreement input[type=checkbox]:checked+label:before,
.give-form[data-style=elementor-give-uber-menu] #give-final-total-wrap .give-donation-total-label,
.give-form[data-style=elementor-give-uber-menu] .give-submit {
	background-color: #638c1c
}

.give-form[data-style=elementor-give-uber-menu] #give-donation-level-button-wrap .give-btn:hover,
.give-form[data-style=elementor-give-uber-menu] #give-donation-level-button-wrap .give-btn.give-default-level,
.give-form[data-style=elementor-give-uber-menu] #give_terms_agreement input[type=checkbox]:checked+label:before {
	border-color: #638c1c
}

.give-form[data-style=elementor-give-uber-menu] .give-submit:hover {
	background-color: #4c691a
}

.give-form[data-style=elementor-give-uber-menu] {
	font-family: pt sans, Sans-serif
}

@media(max-width:767px) {
	.elementor-11814 .elementor-element.elementor-element-0b7c49b {
		width: 50%
	}

	.elementor-11814 .elementor-element.elementor-element-9cf71aa {
		width: 50%
	}
}

@media(min-width:768px) {
	.elementor-11814 .elementor-element.elementor-element-0b7c49b {
		width: 22.541%
	}

	.elementor-11814 .elementor-element.elementor-element-9cf71aa {
		width: 77.459%
	}
}

@-webkit-keyframes pulseBig4 {
	0% {
		-webkit-box-shadow: 0 0 0 0 #638c1c
	}

	70% {
		-webkit-box-shadow: 0 0 0 30px transparent
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent
	}
}

@keyframes pulseBig4 {
	0% {
		box-shadow: 0 0 0 0 #638c1c
	}

	70% {
		box-shadow: 0 0 0 30px transparent
	}

	100% {
		box-shadow: 0 0 0 0 transparent
	}
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main button.give-btn.give-btn-modal,
.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main .elementor-button {
	background-color: #638c1c !important;
	color: #fff !important;
	border-color: #638c1c !important
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main .elementor-button {
	border-color: #638c1c !important
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main .elementor-icon svg {
	fill: #638c1c !important
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main .elementor-post__title a:hover,
.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main .elementor-post-feature__title a:hover {
	color: #638c1c !important
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-main .elementor-video-play-button--icon-view-stacked .elementor-video-play-button__icon {
	background-color: #638c1c !important;
	-webkit-animation: pulseBig4 2s infinite;
	animation: pulseBig4 2s infinite
}

.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main ul .ubermenu-submenu li a.ubermenu-target:hover img,
.elementor-11814 .elementor-element.elementor-element-4498a24 .site-menu-wrap-bears .ubermenu-main ul .ubermenu-submenu li.ubermenu-current_page_item a.ubermenu-target img,
.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-submenu .ubermenu-tab.ubermenu-active>.ubermenu-target img,
.elementor-11814 .elementor-element.elementor-element-4498a24 .ubermenu-mobile-modal .ubermenu-submenu .ubermenu-tab.ubermenu-active>.ubermenu-target img {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(3deg) brightness(104%) contrast(100%)
}

.elementor-11814 .elementor-element.elementor-element-c28be36.elementor-sticky--active {
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px fadeout(#000000, 70);
	box-shadow: 0 0 10px rgb(0 0 0/30%)
}

.elementor-11814 .elementor-element.elementor-element-0b2ef2c {
	position: sticky;
	width: 100%;
	/* z-index: 99 */
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }